@import "./resets";

body {
  position: relative;

  font-family: "Roboto", sans-serif;

  min-height: 100vh;
  width: 100vw;

  background-color: rgba(243, 243, 243, 1);
  transition: background-color 0.5s;
}
header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;

  height: 12%;
  width: 100%;
  padding: 2% 8%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

  img {
    width: 23%;
    width: 23%;
  }
  ion-icon {
    font-size: 45px;
  }
}
main {
  height: auto;
  width: 100%;
  margin-top: 25%;
  margin-bottom: 25%;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  overflow-x: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  p {
    height: auto;
    width: 100%;
    padding: 5px 10px;
    margin-top: 3px;

    display: inline-block;
    align-items: center;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    border-radius: 2px;

    background-color: rgba(255, 255, 255, 1);

    strong {
      font-weight: 700;
    }
    span {
      font-size: 13px;
      font-style: italic;
      color: rgb(150, 150, 150);
    }
    &.user-status {
      background-color: rgba(220, 220, 220, 1);
    }
    &.user-private_message {
      background-color: rgba(255, 222, 222, 1);
    }
  }
}
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1;

  height: 12%;
  width: 100%;
  padding: 2% 8%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

  input[type="text"] {
    padding: 12px 0;
    width: 80%;

    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: black;

    display: inline-block;
    border: none;
  }
  ion-icon {
    font-size: 35px;
  }
}
aside {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;

  height: 100%;
  width: 0;

  overflow-x: hidden;
  transition: 0.5s;

  background-color: rgba(0, 0, 0, 0.5);
}
section {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.sidebar {
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;

  height: 100%;
  width: 0;
  padding-top: 15px;

  overflow-x: hidden;
  transition: 0.5s;

  background-color: rgb(255, 255, 255);
  > p {
    font-weight: bold;
    text-align: center;
  }
}
.opt {
  width: 100%;
  height: 30px;

  display: flex;
  align-items: center;

  padding-left: 18px;

  transition: 0.3s;

  ion-icon {
    font-size: 23px;
    margin-right: 8px;
  }
  p {
    margin-top: 4px;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
  }
}
*.hidden {
  display: none !important;
}
.login-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  padding: 15% 10% 35% 10%;
  margin: 17% 0;

  height: 100%;
  width: 100%;

  img {
    width: 60%;
  }
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

    input[type="text"] {
      padding: 12px 20px;
      margin: 8px 0;

      width: 100%;

      font-family: "Roboto", sans-serif;
      color: black;

      display: inline-block;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
    button {
      padding: 14px 20px;
      margin: 8px 0;
      width: 50%;

      border: none;
      cursor: pointer;
      border-radius: 4px;
      background-color: #a3a3a3;
      color: white;
    }
  }
}
#close-btn {
  position: absolute;
  top: 47vh;
  right: 78vw;

  display: flex;
  font-size: 30px;
  text-shadow: -1px 0px rgb(0, 0, 0);
}
hr.fancy-line {
  border: 0;
  height: 1px;
  position: relative;
  margin: 0.6em 0; /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
  top: -0.5em;
  height: 1em;
}
hr.fancy-line:after {
  content: "";
  height: 0.5em; /* half the height of :before */
  top: 1px; /* height of hr*/
}
hr.fancy-line:before,
hr.fancy-line:after {
  content: "";
  position: absolute;
  width: 100%;
}
hr.fancy-line,
hr.fancy-line:before {
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 75%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    75%,
    color-stop(0%, rgba(0, 0, 0, 0.1)),
    color-stop(75%, rgba(0, 0, 0, 0))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 75%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 75%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 75%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 75%
  );
}
body,
hr.fancy-line:after {
  background: #f4f4f4;
}
